body {
  font-family: Arial, sans-serif;
}
.form-section {
  margin-bottom: 20px;
}
.form-section h3 {
  margin-top: 0;
}
.form-section table {
  width: 80%;
  table-layout: fixed;
}
.form-section th, .form-section td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}
.form-section th {
  background-color: #f2f2f2;
  font-weight: normal;
  font-size: 12px;
}
.form-section td {
  width: 6.6%;
  font-size: 12px;
}
.add-btn {
  margin-top: 10px;
}
input[type="text"], input[type="number"] {
  width: 50px;
}
.pricing-scene {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.pricing-scene input {
  margin-right: 10px;
}
.pricing-scene button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 15px;
}
.pricing-scene button.add {
  background-color: #eee;
  color: black;
}
.pricing-scene button.remove {
  background-color: #eee;
  color: black;
}
